body {
  overflow-x: hidden;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;

  .title {
    font-size: 1.8em;
  }
}

.devs {
  position: absolute;
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 0;
  bottom: 0;
  color: #191c21;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;

  .year {
    color: #09d3ac;
    font-size: 0.75em;
  }

  .title {
    line-height: 1.1;
    font-size: 1.1em;
    font-weight: bold;
  }

  .names {
    font-size: 0.8em;
    line-height: 0.9;
  }
}

.progress {
  position: absolute;
  display: block;
  height: 50px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  bottom: 0;

  transition: 1.0s;
  transition-timing-function: linear;

  .bar {
    background-color: #09d3ac;
    height: 50px;
  }
}

.large-btn {
  margin-top: 6vh;
  background-color: #09d3ac;
  padding: 1%;
  border-radius: 5px;
  width: 250px;
  cursor: pointer;
  text-align: center;
  color: white;

  &:hover{
    background-color: #39ffdc;
  }
}

.btn {
  margin-top: 6vh;
  background-color: #09d3ac;
  padding: 1%;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  color: white;

  &:hover{
    background-color: #39ffdc;
   }
}

a {
  text-decoration: none;
  color: white;
}

.test {
  text-align: center;
  background-color: #191c21;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;


  &.column {
    flex-direction: column;
    justify-content: center;
  }

  @keyframes shake-toggle {
    0% {
      transform: translate(0,0);
    }
    25% {
      transform: translate(-20px,0);
    }
    50% {
      transform: translate(20px,0);
    }
    75% {
      transform: translate(-20px,0);
    }
    100% {
      transform: translate(0,0);
    }
  }

  .option {
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 15px;
    margin: 2px;
    width: 400px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-between;

    &.shake {
      animation-name: shake-toggle;
      animation-duration: 0.5s;
    }

    .toggle {
      display: block;
      border-radius: 0.9em;
      width: 1em;
      height: 1em;
      padding: 0.2em;
      box-sizing: border-box;


      cursor: pointer;
      transition: 0.5s;

      &.yes {
        &.enabled {
          background-color: #09d3ac;
        }
        &.disabled {
          background-color: #045c4b;
        }
      }

      &.no {
        &.enabled {
          background-color: #cf3f0a;
        }
        &.disabled {
          background-color: #6f2105;
        }
      }

      &.disabled {
        .switch {
          opacity: 0;
        }
      }

      .switch {
        display: block;
        width: 0.6em;
        height: 0.6em;
        background-color: aliceblue;
        border-radius: 0.9em;
        transition: 0.25s;
      }
    }
  }

  .object {
    background-color: #ff9d3b;
    width: 100px;
    height: 100px;
    transition: 0.5s;
  }
}

.transition-object {
  transition: 0.5s;
}

.shadow {
  filter: drop-shadow( 50px 10px 10px white);
}

.translate {
  transform: translate(120px,250px);
}

.clip {
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
}

.scale {
  transform: scale(4.7);
}

.filter {
  filter: sepia(75%);
}

.rotate {
  transform: rotate(375deg);
}

.rotate.scale {
  transform: scale(4.7) rotate(375deg);
}

@keyframes bkg-animation {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: 0 0;
  }
}

.bkg {
  background-size: 200% 200%;
  background-position: 200% 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top right, transparent 25%, #d35548 25%, #d35548 75%, transparent 75%);

  animation-name: bkg-animation;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

img {
  border-radius: 5%;
}

.all-graphs {
  background-color: #191c21;
  display: flex;
  flex-direction: row;

}

.graph {
  flex-grow: 1;
  height: 30vh;

  border-radius: 10px;
  margin: 10px;
  overflow: hidden;

  background-color: rgba(0,0,0,0.25);

  .info {
    width: 99%;
    height: 0px;
    display: flex;
    flex-direction: column;
    color: white;
    color: rgba(255,255,255,0.5);

    span {
      text-align: right;
    }
  }

  .title {
    height: 0;
    color: rgba(255,255,255,0.25);
    line-height: 0;
    font-weight: bold;
    transform: translate(10px,15px);
  }

  .plot-area {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .bar {
      display: block;
      width: 1%;
      height: 1%;
    }

    &.fps {
      background-color: #002;

      .bar {
        background-color: #0ff;
      }
    }

    &.ms {
      background-color: #020;

      .bar {
        background-color: #0f0;
      }
    }

    &.mem {
      background-color: #201;

      .bar {
        background-color: #f08;
      }
    }
  }
}
