body {
  overflow-x: hidden;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;

  .title {
    font-size: 1.8em;
  }
}


.devs {
  position: absolute;
  display: block;
  font-size: 1em;
  margin: 0;
  padding: 0;
  bottom: 0;
  color: #191c21;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: column;

  .year {
    color: #09d3ac;
    font-size: 0.75em;
  }

  .title {
    line-height: 1.1;
    font-size: 1.1em;
    font-weight: bold;
  }

  .names {
    font-size: 0.8em;
    line-height: 0.9;
  }
}

.bar {
  position: absolute;
  display: block;
  height: 50px;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  bottom: 0;

  transition: 1.0s;
  transition-timing-function: linear;

  .progress {
    background-color: #09d3ac;
    height: 50px;
  }
}

.btn {
  margin-top: 6vh;
  background-color: #09d3ac;
  padding: 1%;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  text-align: center;
  color: white;

  &:hover{
    background-color: #39ffdc;
   }
}

a {
  text-decoration: none;
  color: white;
}

.test {
  text-align: center;
  background-color: #191c21;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;

  .object {
    background-color: #ff9d3b;
    width: 100px;
    height: 100px;
    transition: 0.5s;
  }
}

.transition-object {
  transition: 0.5s;
}

.shadow {
  filter: drop-shadow( 50px 10px 10px white);
}

.translate {
  transform: translate(120px,250px);
}

.clip {
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
}

.scale {
  transform: scale(4.7);
}

.rotate {
  transform: rotate(375deg);
}

.rotate.scale {
  transform: scale(4.7) rotate(375deg);
}

@keyframes bkg-animation {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: 0 0;
  }
}

.bkg {
  background-size: 200% 200%;
  background-position: 200% 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top right, transparent 25%, #d35548 25%, #d35548 75%, transparent 75%);

  animation-name: bkg-animation;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

img {
  border-radius: 5%;
}